* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(
    90deg,
    rgba(151, 125, 255, 1) 0%,
    rgba(242, 230, 238, 1) 100%
  );
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
